# Data Cleaning Document - Broadband
Author: Geri Harding

Broadband Data acquired from the xx, including years 2000-2018.

In [3]:
#Packages import
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import base64

In [4]:
#opened from csv from downloaded 
file = open("broadband_long2000-2018rev.csv","r")
df = pd.read_csv("broadband_long2000-2018rev.csv")

In [5]:
df.head()

  statenam          county  year              id  broadband  cfips
0  Alabama  Autauga County  2000  0500000US01001        NaN   1001
1  Alabama  Autauga County  2001  0500000US01001        NaN   1001
2  Alabama  Autauga County  2002  0500000US01001        NaN   1001
3  Alabama  Autauga County  2003  0500000US01001        NaN   1001
4  Alabama  Autauga County  2004  0500000US01001        NaN   1001

In [6]:
df["state"] = df["statenam"]
del df["statenam"]
df["broadband_pct"] = df["broadband"]
del df["broadband"]

In [7]:
df.head()

           county  year              id  cfips    state  broadband_pct
0  Autauga County  2000  0500000US01001   1001  Alabama            NaN
1  Autauga County  2001  0500000US01001   1001  Alabama            NaN
2  Autauga County  2002  0500000US01001   1001  Alabama            NaN
3  Autauga County  2003  0500000US01001   1001  Alabama            NaN
4  Autauga County  2004  0500000US01001   1001  Alabama            NaN

In [8]:
df.set_index(["state"])

                 county  year              id  cfips  broadband_pct
state
Alabama  Autauga County  2000  0500000US01001   1001            NaN
Alabama  Autauga County  2001  0500000US01001   1001            NaN
Alabama  Autauga County  2002  0500000US01001   1001            NaN
Alabama  Autauga County  2003  0500000US01001   1001            NaN
Alabama  Autauga County  2004  0500000US01001   1001            NaN
...                 ...   ...             ...    ...            ...
Wyoming   Weston County  2014  0500000US56045  56045            NaN
Wyoming   Weston County  2015  0500000US56045  56045            NaN
Wyoming   Weston County  2016  0500000US56045  56045            NaN
Wyoming   Weston County  2017  0500000US56045  56045       0.586207
Wyoming   Weston County  2018  0500000US56045  56045       0.733000

[59527 rows x 5 columns]

In [9]:
#Save new data to CSV
df.to_csv(r"broadband_clean.csv", index = False)