# Team 13 Capstone - Data Cleaning Documentation 
## Author: Millie O Symns 
## Date: 12/16/21

### Employment Data
#### Packages Import

In [1]:
import pandas as pd
import numpy as np

#### Raw Employment

In [9]:
with open('Employment Data/ACSST1Y2019.S2301_data_with_overlays_2021-12-15T185326.csv') as f:
    raw_employment =  pd.read_csv(f, delimiter=',')
    
with open('Employment Data/ACSST1Y2019.S2301_metadata_2021-12-15T185326.csv') as f:  
    raw_employment_ids = pd.read_csv(f, delimiter=',')

In [5]:
raw_employment.head(10)

,GEO_ID,NAME,S2301_C01_001E,S2301_C01_001M,S2301_C01_002E,S2301_C01_002M,S2301_C01_003E,S2301_C01_003M,S2301_C01_004E,S2301_C01_004M,...,S2301_C04_031E,S2301_C04_031M,S2301_C04_032E,S2301_C04_032M,S2301_C04_033E,S2301_C04_033M,S2301_C04_034E,S2301_C04_034M,S2301_C04_035E,S2301_C04_035M
0,id,Geographic Area Name,Estimate!!Total!!Population 16 years and over,Margin of Error!!Total!!Population 16 years an...,Estimate!!Total!!Population 16 years and over!...,Margin of Error!!Total!!Population 16 years an...,Estimate!!Total!!Population 16 years and over!...,Margin of Error!!Total!!Population 16 years an...,Estimate!!Total!!Population 16 years and over!...,Margin of Error!!Total!!Population 16 years an...,...,Estimate!!Unemployment rate!!EDUCATIONAL ATTAI...,Margin of Error!!Unemployment rate!!EDUCATIONA...,Estimate!!Unemployment rate!!EDUCATIONAL ATTAI...,Margin of Error!!Unemployment rate!!EDUCATIONA...,Estimate!!Unemployment rate!!EDUCATIONAL ATTAI...,Margin of Error!!Unemployment rate!!EDUCATIONA...,Estimate!!Unemployment rate!!EDUCATIONAL ATTAI...,Margin of Error!!Unemployment rate!!EDUCATIONA...,Estimate!!Unemployment rate!!EDUCATIONAL ATTAI...,Margin of Error!!Unemployment rate!!EDUCATIONA...
1,0500000US01003,"Baldwin County, Alabama",183875,1197,12866,1564,11292,1296,11807,1041,...,4.6,1.9,23.3,14.1,4.4,3.5,4.7,2.8,0.8,0.9
2,0500000US01015,"Calhoun County, Alabama",92308,597,6251,1050,6973,780,7088,910,...,5.6,2.4,15.6,11.5,5.9,4.0,4.4,4.6,1.3,1.6
3,0500000US01043,"Cullman County, Alabama",66939,491,3541,645,4603,595,5402,258,...,2.6,1.8,1.4,1.9,1.9,2.0,4.6,3.9,0.0,2.9
4,0500000US01049,"DeKalb County, Alabama",56471,671,4475,730,4989,784,4281,538,...,4.4,3.0,7.9,9.0,7.6,7.9,0.5,0.8,0.5,0.8
5,0500000US01051,"Elmore County, Alabama",65674,847,4083,830,4038,643,6165,961,...,1.7,1.5,5.1,7.2,0.8,1.2,2.7,4.0,1.1,1.4
6,0500000US01055,"Etowah County, Alabama",82584,420,4424,552,6416,926,6376,846,...,6.2,2.3,13.4,8.3,4.0,3.3,6.9,4.1,4.0,3.4
7,0500000US01069,"Houston County, Alabama",84474,308,5244,447,5776,283,7228,186,...,6.2,1.5,9.0,6.8,8.6,3.0,5.2,2.9,4.3,2.9
8,0500000US01073,"Jefferson County, Alabama",524669,1353,31979,1446,40872,493,49439,323,...,4.3,0.7,9.1,4.5,5.9,2.2,4.8,1.3,2.4,0.9
9,0500000US01077,"Lauderdale County, Alabama",76315,1211,4482,1074,7566,1184,5507,497,...,4.2,2.4,14.3,16.0,1.3,1.5,7.1,4.1,0.4,0.8

In [10]:
raw_employment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Columns: 282 entries, GEO_ID to S2301_C04_035M
dtypes: object(282)
memory usage: 1.8+ MB

In [20]:
employment_ids

,GEO_ID,id,new_id
0,NAME,geographic area name,geographic area name
1,S2301_C01_001E,estimate_total_population 16 years and over,e_pop_16_over
2,S2301_C01_001M,margin of error_total_population 16 years and ...,margin of error_total_population 16 years and ...
3,S2301_C01_002E,estimate_total_population 16 years and over_ag...,e_pop_16_over_age_16 to 19 years
4,S2301_C01_002M,margin of error_total_population 16 years and ...,margin of error_total_population 16 years and ...
...,...,...,...
276,S2301_C04_033M,margin of error_unemployment rate_educational ...,margin of error_unemployment rate_educational ...
277,S2301_C04_034E,estimate_unemployment rate_educational attainm...,estimate_unemployment rate_educational attainm...
278,S2301_C04_034M,margin of error_unemployment rate_educational ...,margin of error_unemployment rate_educational ...
279,S2301_C04_035E,estimate_unemployment rate_educational attainm...,estimate_unemployment rate_educational attainm...
280,S2301_C04_035M,margin of error_unemployment rate_educational ...,margin of error_unemployment rate_educational ...

#### Formatting Employment Data

For this section, we are cleaning up the empty cell, splitting the county and state informating and formatting the cells with numbers to be numeric. For the time being, we are keeping the column names as they are.

In [24]:
formating_employment = raw_employment

#dropping the first row with the ID information 
formating_employment = formating_employment.iloc[1: , :]

#dropping US total data for now 
formating_employment = formating_employment[formating_employment['NAME'] != 'United States']

#spliting county and state into separate columns and dropping 'NAME' column
formating_employment[['county', 'state']] = formating_employment['NAME'].str.split(',', expand=True)
formating_employment = formating_employment.drop('NAME', 1)

#Replacing all the 'N' with NAN
formating_employment = formating_employment.replace('N', np.NaN)
formating_employment = formating_employment.replace('*****', np.NaN)

#Converting all true numeric variables to float NOTE: RUNNING INTO ISSUE HERE

formating_employment = pd.DataFrame(formating_employment)
formating_employment = formating_employment.infer_objects()

In [25]:
formating_employment

,GEO_ID,S2301_C01_001E,S2301_C01_001M,S2301_C01_002E,S2301_C01_002M,S2301_C01_003E,S2301_C01_003M,S2301_C01_004E,S2301_C01_004M,S2301_C01_005E,...,S2301_C04_032E,S2301_C04_032M,S2301_C04_033E,S2301_C04_033M,S2301_C04_034E,S2301_C04_034M,S2301_C04_035E,S2301_C04_035M,county,state
1,0500000US01003,183875,1197,12866,1564,11292,1296,11807,1041,12594,...,23.3,14.1,4.4,3.5,4.7,2.8,0.8,0.9,Baldwin County,Alabama
2,0500000US01015,92308,597,6251,1050,6973,780,7088,910,7893,...,15.6,11.5,5.9,4.0,4.4,4.6,1.3,1.6,Calhoun County,Alabama
3,0500000US01043,66939,491,3541,645,4603,595,5402,258,5186,...,1.4,1.9,1.9,2.0,4.6,3.9,0.0,2.9,Cullman County,Alabama
4,0500000US01049,56471,671,4475,730,4989,784,4281,538,4155,...,7.9,9.0,7.6,7.9,0.5,0.8,0.5,0.8,DeKalb County,Alabama
5,0500000US01051,65674,847,4083,830,4038,643,6165,961,6956,...,5.1,7.2,0.8,1.2,2.7,4.0,1.1,1.4,Elmore County,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,0500000US72113,110723,361,7087,361,9285,NaN,9267,NaN,7658,...,17.0,12.3,10.9,5.7,7.4,5.4,5.2,2.3,Ponce Municipio,Puerto Rico
837,0500000US72127,272665,963,16309,963,21747,NaN,21582,NaN,18357,...,28.4,7.4,30.8,5.5,19.7,4.3,4.8,1.6,San Juan Municipio,Puerto Rico
838,0500000US72135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.8,16.5,5.3,5.9,2.7,3.2,2.2,2.9,Toa Alta Municipio,Puerto Rico
839,0500000US72137,62625,424,3842,424,5026,NaN,5251,NaN,4575,...,21.2,16.4,21.6,8.3,9.3,5.0,1.9,1.8,Toa Baja Municipio,Puerto Rico
840,0500000US72139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,14.4,0.0,5.2,0.7,1.2,2.4,2.4,Trujillo Alto Municipio,Puerto Rico

### Income Data

#### Importing Raw Data

In [26]:
with open('Income Data/ACSST1Y2019.S1901_data_with_overlays_2021-11-04T144153.csv') as f:
    raw_income =  pd.read_csv(f, delimiter=',')
    
with open('Income Data/ACSST1Y2019.S1901_metadata_2021-11-04T144153.csv') as f:  
    income_ids = pd.read_csv(f, delimiter=',')

In [3]:
raw_income.head(10)

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012E,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...",...,Estimate!!Nonfamily households!!Median income ...,Margin of Error!!Nonfamily households!!Median ...,Estimate!!Nonfamily households!!Mean income (d...,Margin of Error!!Nonfamily households!!Mean in...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...
1,0500000US01003,"Baldwin County, Alabama",82325,3231,4.9,1.6,3.9,1.4,9.4,2.0,...,37494,5940,48871,5729,(X),(X),(X),(X),30.1,(X)
2,0500000US01015,"Calhoun County, Alabama",44636,2010,9.6,3.1,7.3,2.4,8.4,2.0,...,26143,3350,32609,4229,(X),(X),(X),(X),35.7,(X)
3,0500000US01043,"Cullman County, Alabama",32090,1233,4.4,1.5,5.4,2.2,11.0,2.8,...,22464,3132,28508,2622,(X),(X),(X),(X),37.1,(X)
4,0500000US01049,"DeKalb County, Alabama",24880,1347,7.2,2.8,8.4,3.8,15.6,3.5,...,21213,4028,36416,10258,(X),(X),(X),(X),36.0,(X)
5,0500000US01051,"Elmore County, Alabama",30712,1330,2.9,1.4,1.9,1.3,13.2,4.1,...,34964,10694,50153,12317,(X),(X),(X),(X),39.1,(X)
6,0500000US01055,"Etowah County, Alabama",40053,1930,9.9,2.6,6.3,1.6,15.9,3.4,...,23712,3356,39099,10036,(X),(X),(X),(X),31.2,(X)
7,0500000US01069,"Houston County, Alabama",39761,1040,9.2,1.5,6.0,1.1,11.2,1.8,...,30245,2841,39072,3326,(X),(X),(X),(X),40.1,(X)
8,0500000US01073,"Jefferson County, Alabama",264753,3376,9.7,1.1,5.0,0.7,8.9,1.1,...,31870,1572,48905,3415,(X),(X),(X),(X),37.7,(X)
9,0500000US01077,"Lauderdale County, Alabama",38761,1573,9.3,2.6,7.0,2.3,10.8,2.7,...,26571,4844,35213,4282,(X),(X),(X),(X),44.1,(X)

#### Formatting Income Data 

For this section, similar to employment data we are cleaning up the empty cell, splitting the county and state informating and formatting the cells with numbers to be numeric. For the time being, we are keeping the column names as they are.

In [28]:
formating_income = raw_income

#dropping the first row with the ID information 
formating_income = formating_income.iloc[1: , :]

#dropping US total data for now 
#formating_income = formating_income[formating_income['NAME'] != 'United States']

#spliting county and state into separate columns and dropping 'NAME' column
formating_income[['county', 'state']] = formating_income['NAME'].str.split(',', expand=True)
formating_income = formating_income.drop('NAME', 1)

#Replacing all the 'N' with NAN
formating_income = formating_income.replace('N', np.NaN)
formating_income = formating_income.replace('*****', np.NaN)

#Converting all true numeric variables to float NOTE: RUNNING INTO ISSUE HERE

formating_income = pd.DataFrame(formating_income)
formating_income = formating_income.infer_objects()

In [8]:
formating_income

,GEO_ID,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,S1901_C01_005E,...,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M,county,state
1,0500000US01003,82325,3231,4.9,1.6,3.9,1.4,9.4,2.0,10.4,...,48871,5729,(X),(X),(X),(X),30.1,(X),Baldwin County,Alabama
2,0500000US01015,44636,2010,9.6,3.1,7.3,2.4,8.4,2.0,13.1,...,32609,4229,(X),(X),(X),(X),35.7,(X),Calhoun County,Alabama
3,0500000US01043,32090,1233,4.4,1.5,5.4,2.2,11.0,2.8,13.2,...,28508,2622,(X),(X),(X),(X),37.1,(X),Cullman County,Alabama
4,0500000US01049,24880,1347,7.2,2.8,8.4,3.8,15.6,3.5,7.6,...,36416,10258,(X),(X),(X),(X),36.0,(X),DeKalb County,Alabama
5,0500000US01051,30712,1330,2.9,1.4,1.9,1.3,13.2,4.1,10.8,...,50153,12317,(X),(X),(X),(X),39.1,(X),Elmore County,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,0500000US72113,52837,1952,36.3,2.5,13.5,2.1,16.0,2.5,9.9,...,18260,2810,(X),(X),(X),(X),34.6,(X),Ponce Municipio,Puerto Rico
837,0500000US72127,138800,3232,29.1,1.6,8.8,1.3,14.8,1.5,10.2,...,27875,2579,(X),(X),(X),(X),34.6,(X),San Juan Municipio,Puerto Rico
838,0500000US72135,22650,1148,20.1,4.5,8.2,3.1,16.8,4.6,12.8,...,21261,7449,(X),(X),(X),(X),67.3,(X),Toa Alta Municipio,Puerto Rico
839,0500000US72137,28291,1322,22.3,4.0,10.1,2.9,19.9,3.4,13.8,...,22178,2792,(X),(X),(X),(X),21.5,(X),Toa Baja Municipio,Puerto Rico
840,0500000US72139,23263,1267,16.3,4.5,9.5,3.3,16.1,4.1,10.2,...,NaN,NaN,(X),(X),(X),(X),25.2,(X),Trujillo Alto Municipio,Puerto Rico

### Exporting Cleaned Data

In [29]:
formating_employment.to_csv(r'clean_employment_data.csv', index = False)
formating_income.to_csv(r'clean_income_data.csv', index = False)

----
###  IGNORE SYNTAX BELOW

In [19]:
#IGNORE BLOCK(FORMATTING NEW NAMES LATER)
employment_ids = raw_employment_ids
employment_ids["id"] = raw_employment_ids["id"].str.lower().replace('!!', "_")

employment_ids["new_id"] = raw_employment_ids["id"].str.replace('estimate_total_population 16 years and over', 'e_pop_16_over')
employment_ids["new_id"] = raw_employment_ids["id"].str.replace('margin of error_total_population 16 years and over', 'm_pop_16_over')
employment_ids["new_id"] = raw_employment_ids["id"].str.replace('age_16 to 19 years', 'age_16_19')
employment_ids["new_id"] = raw_employment_ids["id"].str.replace('age_20 to 24 years', 'age_20_24')
employment_ids["new_id"] = raw_employment_ids["id"].str.replace('age_25 to 29 years', 'age_25_29')
employment_ids["new_id"] = raw_employment_ids["id"].str.replace('age_30 to 34 years', 'age_30_34')
employment_ids["new_id"] = raw_employment_ids["id"].str.replace('age_35 to 44 years', 'age_35_34')
employment_ids["new_id"] = raw_employment_ids["id"].str.replace('age_45 to 54 years', 'age_45_54')
employment_ids["new_id"] = raw_employment_ids["id"].str.replace('age_30 to 34 years', 'age_30_34')

Code examples for later

In [27]:
#df["A"] = pd.to_numeric(df["A"], downcast="float")
#df_employment.columns = df_employment.columns.str.lower().str.replace(" ", "_")